.profile-main {
  background: white;
  border: 1px solid #d3d6db;
  margin-top: 20px;
  border-radius: 1px;
  font-size: 16px;

}

.profile-header {
  background: #f6f7f9;
  color: #4b4f56;
  font-size: 22px;
  font-weight: bolder;
  border-bottom: 1px solid #d3d6db;
  padding: 18px 22px;
}

.profile-content {
  display: flex;
  padding: 20px;
  margin-left: 20px;
  font-size: 15px;
}

.profileform-type-li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-right: 130px;
  text-transform: capitalize;
  color: #90949c;
  border-bottom: 1px solid #e5e6e9;
}

.profileform-li {
  padding: 10px 0;
  border-bottom: 1px solid #e5e6e9;
}


.profile-keys {
  float: left;
  width: 170px;
  height: 22px;
  color: #90949c;
  text-transform: capitalize;
}

.profile-unedit{
  width: 450px;
}

.profileform-input-unedit {
  float: left;
  text-transform: capitalize;
  width: 200px;
}

.profileform-button-unedit {
  float: right;
  font-size: 12px;
  color: #4080ff;
}

.profile-edit{
  width: 450px;
}

.profileform-button-edit{
  float: right;
  color: white;
  background: #4267b2;
  padding: 4px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
}

.profileform-input-edit {
  border: 1px solid #d3d6db;
  float: left;
  width: 150px;
}
