.userpage{
  width: 850px;
  margin: auto;
}

.cover-photo {
  border-left: 1px solid #e5e6e9;
  border-right: 1px solid #e5e6e9;
  border-bottom: 1px solid #e5e6e9;
  background: white;
  position: relative;
}

.cover-photo > img {
  object-fit: cover;
  width: 848px;
  height: 320px;
}

.cover-photo:first-child {
  position: relative;
}

.profile-photo > img {
  object-fit: cover;
  width: 165px;
  height: 165px;
  padding: 5px;
  border: 1px solid #A9A9A9;
  background-color: white;
  border-radius: 2px;
}

.profile-photo {
  position: absolute;
  top: 180px;
  left: 20px;
}

.cover-photo ul {
  display: flex;
  margin-left: 225px;
}

.user-nav-list {
  padding: 10px 15px;
  display: block;
  border-right: 1px solid #e5e6e9;
  cursor: pointer;
  font-weight: bold;
}

.user-nav-ul {
  border-left: 1px solid #e5e6e9;
  font-size: 15px;
  color: #365899;
}

.update-cover, .update-photo {
    overflow: hidden;
    display: inline-block;
    position: absolute;
}

.fa-camera:hover{
  cursor: pointer;
  font-size: 1.5em;
}

.update-photo [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.update-cover [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.update-photo [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.update-cover {
  top: 23px;
  left: 31px;
}

.update-photo {
  left: 31px;
  bottom: 27px;
}

.update-cover:hover{
  top: 20px;
  left: 28px
}

.update-photo:hover{
  left: 28px;
  bottom: 24px;
}

.fa-camera {
  color: #DCDCDC;
  font-size: 1.1em;
  opacity: 0.5;
}

.friendStatus {
  position: absolute;
  bottom: 60px;
  right: 40px;
  background: #f6f7f9;
  color: #4b4f56;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 1px;
  cursor: default;
}

.friendStatus:hover .unfriend-button {
  display: block;
  border: 1px solid #A9A9A9;
}

.friendStatus:hover {
  background: #A9A9A9;
}

.unfriend-button {
  position: absolute;
  right: -10px;
  top: 19px;
  padding: 3px 10px;
  background: white;
  border-radius: 1px;
  display: none;
}

.subfriendStatus{
  position: relative;
}

.fa-camera{
  z-index: 5;
}
